#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%packages
@^graphical-server-environment
@container-management
@debugging
@graphical-admin-tools
@headless-management
@performance
@remote-desktop-clients
@remote-system-management
@system-tools
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp
network  --hostname=changeme.localdomain

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable

# Partition clearing information
zerombr
clearpart --none --initlabel
autopart
# System timezone
timezone America/Los_Angeles --isUtc

# Root password
rootpw --iscrypted $6$xP6wcGqjJ1wMB480$iQ.93GMab3no1TAkjS7DRkieiXNuGVm/.Mt2TKIjYzkyCcBnHBmpqRB4BvghXgwgxwereIEC.UZCxOrgN/3xA/
user --groups=wheel --name=ansible --password=$6$aovcUq3iRdX.OGBd$./cz8UDLqKNkeB4pbe5HcFMj5PcXtWdvrB4pVdeKg3qD/CrRuoZP61cG.TNpZOjZ08Ko4twe8YCr0lU1uTnKs1 --iscrypted --gecos="ansible"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post 
/usr/bin/mkdir -p /home/ansible/.ssh
/usr/bin/touch /home/ansible/.ssh/authorized_keys
echo ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCrUC+QiTSJdPk0pqzwOmIakFpzxTebp6COjkYBMwJGdUlMJJX8izv+KZxtL+/mxJfDLcmNlXJhKwJ/b+rCjFAINiRFR0fdQmLfkdSKGoIGB7HUdw2WQATSwz7Uq3jcetevNXYOKZFFHPS6eDA3iPC88j2Ee0Wgx/cE4Csj63xLEG0QdbdHcANRARKx07pTurUe67mQGnk1ufiYQ2kXYdQjxrHoBEB3tPGLhRi1vdXioBPQCPvbQ9+KWEO4TTdHVwZWADDj1BhiEn2k/cdB5N7AmKWVDOB3qbwAo1omFZiJwTNuDuIxzaIT5AQsXD0qKXKMy1t1/AeK579Lhte1ZoLP ansible@bfowler > /home/ansible/.ssh/authorized_keys
%end
%post 
/usr/bin/touch /etc/sudoers.d/ansible
%end
%post
echo "ansible ALL=(ALL)	NOPASSWD:ALL" > /etc/sudoers.d/ansible
%end
